.box {
  height: 500px;
  background-color: rgb(216, 191, 191);
}

.night {
  background-color: black;
}

.daylight {
  background-color: gray;
} 

.button {
  border-radius: 20px;
  outline: none;
}

.heading{
  color: red;
  text-align: center;
}

.counter {
  color: red;
}

.button2 {
margin-left: 10px;
border-radius: 20px;


}

.morning {
  color:black;
  text-shadow: 4px 4px 4px white;
}

.night {
  color: white;
}